<div class="separator">
  <app-selection
    [items]="availableCapacities"
    [label]="'capacity'"
    [noWrap]="true"
    [type]="'capacity'"
  ></app-selection>
</div>

<div class="separator">
  <app-selection
    [items]="availableColors"
    [label]="'marketingColor'"
    [noWrap]="true"
    [type]="'colour'"
  ></app-selection>
</div>

<div class="separator">
  <app-selection
    [items]="availableUpfrontCosts"
    [label]="'upfrontCostValue'"
    [noWrap]="true"
    [type]="'upfrontCost'"
  ></app-selection>
</div>
